.qr-container{

    width:100%;
    text-align:center;

}

.reader{

    width:100%;
    max-width:350px;
    margin:auto;

}

.estado{

    margin-top:15px;
    font-weight:600;
    color:#10376A;

}