.search-card{

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:0 8px 30px rgba(0,0,0,.08);

}

h4{

    color:#0B4A6E;

    margin-bottom:20px;

}

input{

    height:48px;

    border-radius:12px;

}

.btn-primary{

    background:#10376A;

    border-color:#10376A;

}
.btn-primary:hover{

    background:#0B2D56;

    border-color:#0B2D56;

}
.btn-primary:active{

    background:#082344 !important;

}
.form-control:focus{

    border-color:#10376A;

    box-shadow:0 0 0 .15rem rgba(16,55,106,.15);

}