<div class="search-card">

    <h4>
        <i class="fa-solid fa-magnifying-glass"></i>
        Buscar comunidad
    </h4>

    <div class="search-container">

        <div class="search-input">

            <span class="input-icon">
                <i class="fa-solid fa-search"></i>
            </span>

            <input
                type="text"
                [(ngModel)]="texto"
                (input)="buscarAutomaticamente()"
                placeholder="Buscar por ID o nombre"
            >

        </div>

        <button
            type="button"
            class="btn-search"
            (click)="buscarAutomaticamente()">

            <i class="fa-solid fa-search"></i>

            <span>Buscar</span>

        </button>

    </div>

</div>