<div class="search-card">

    <h4>

        <i class="fa-solid fa-magnifying-glass"></i>

        Buscar comunidad

    </h4>

    <div class="input-group">

        <span class="input-group-text">
            <i class="fa-solid fa-search"></i>
        </span>
    
        <input
        class="form-control"
        [(ngModel)]="texto"
        (input)="buscarAutomaticamente()"
        placeholder="Buscar por ID o nombre">
    
    <button class="btn btn-primary">
        Buscar
    </button>
    
    </div>

</div>